# package directories
node_modules
offline
jspm_packages
.idea/
.webpack
**/.webpack
.tmp

# Serverless directories
.serverless/
kms_key.yml
.env
**/.env
**/api/**.js
.nyc_output/
.build/
typings/
documentation/
package-lock.json
coverage
