# package directories
node_modules
offline
jspm_packages
.idea/
.vscode/
.webpack/
**/.webpack
.tmp
.scannerwork/

# Serverless directories
.serverless/
.build/
kms_key.yml
.env
**/.env
**/api/**.js
.nyc_output/
typings/
documentation/
coverage/
.esbuild/
